<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Marion Coiffure - Préstation et Tarifs</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../style.css" >
  </head>
  <body>
    <header id="header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand logo-container" href="#"><img class="logo" src="../resources/logo_v2.jpg" alt="logo"></a>
          </div>

          <div>
            <div>
              <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="../index.html">Accueil</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Qui suis-je ?<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Mon matériel</a></li>
                    <li><a href="#">Les avantages</a></li>
                    <li><a href="#">Happytal</a></li>
                  </ul>
                </li>
                <li class="active"><a href="#">Préstation et tarifs</a></li>
                <li class=""><a href="#">Galerie Photos</a></li>
                <li class=""><a href="#">Avis</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main style="padding-top: 70px;">
      <div class="panel panel-default panel-tarifs">
        <div class="panel-body">
          Marion vous propose aujourd'hui ses services de coiffure à domicile avec une large gamme de prestations à destination de toute la famille.
          Elle a débuté dans la coiffure comme apprentie avant d'intégrer un salon à Saint-Julien-de-Concelles. Elle a ensuite travaillée dans de grandes enseignes, telles Jean-Louis David et Saint-Algue avant de créer sa propre entreprise en 2013. D'un naturel sympathique et chaleureux, Marion s'est lancé dans la coiffure à domicile pour établir des liens privilégiés avec ses clients. Elle apprécie de se consacrer pleinement à son art et son client durant le temps de sa prestation. Marion saura vous conseiller et vous faire passer un agréable moment.
        </div>
      </div>
      <div class="panel-group panel-tarifs" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="container-flex">
                <span><img src="../resources/coupe1.png" alt="coupe1"></span>

                  <span>Shampooing Coupe Brushing</span>
                <span>45 min</span>
                <span>26,00€</span>
                <span class="btn-droite"><button type="button" class="btn btn-warning">Prendre rendez-vous</button></span>
              </div>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Une coupe selon vos souhaits ou sur proposition après analyse de votre visage.
            </div>
          </div>
        </div>


      </div>
    </main>
    
  </body>
</html>